body{
    background-color: lightsteelblue;
    font-family: sans-serif;
}
th{
    background-color: #0096c7;
}
td{
    height:35px;
    text-align:center;
}
#divtable{
    width:85%;
    margin: auto;
}
li{
    line-height: 25px;
}
button{
    margin-top:15px;
}